<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% seo %}
{% feed_meta %}

<!-- dataLayer -->
<script>dataLayer = [];</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PDJ9NK');</script>

<!-- Terry Pratchett is alive -->
<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">

{% if site.google_verify %}<meta name="google-site-verification" content="{{ site.google_verify }}">{% endif %}
{% if site.bing_verify %}<meta name="msvalidate.01" content="{{ site.bing_verify }}">{% endif %}

<link rel="preconnect" href="https://www.googletagmanager.com">

<!-- Styles -->
<link rel="stylesheet" href="{{ site.url }}/assets/css/main.min.css">

<!-- Icons -->
<link rel="shortcut icon" href="{{ site.url }}/favicon.ico">
<link rel="icon" type="image/png" href="{{ site.url }}/favicon.png">

<!-- Web App Manifest -->
<link rel="manifest" href="{{ site.url }}/manifest.json">
<meta name="theme-color" content="#1a1a2e">

<!-- Structured Data -->
{% include schema.html %}
